body {
  font-family: Helvetica, Arial, 'Sans-Serif';
  margin: 60px auto;
  width: 70%;
}
nav a {
  text-decoration: none;
  color: #790e8b;
}
nav ul {
  padding: 0px;
  list-style: none;
}
nav li {
  display: inline;
  /* Manages the spacing between the nav headings */
  margin-right: 1em;
  font-weight: bold;
}
nav li.title {
  color: #df78ef;
}
p.opening {
  font-size: 1.313em;
  line-height: 1.58em;
  color: #333;
  font-family: 'Georgia', 'Cambria', 'Times New Roman', 'Times', 'serif';
}
footer {
  border-top: .5em solid #d5d5d5;
  font-weight: bold;
  font-size: .9em;
}
footer a {
  text-decoration: none;
  color: #790e8b;
}
footer div.container {
  /* This allows me to space the 3 divs in the footer to the left, right and
     middle plus align the each on the center vertically */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

/* POSTS */

ul.posts {
  margin: 20px auto 40px;
  padding: 0;
}
ul.posts li {
  font-size: 1.313em;
  line-height: 1.58em;
  list-style: none;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
ul.posts span {
  color: #ab47bc;
  font-family: Monaco, "Courier New", monospace;
}
div.license {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 1em;
  line-height: 1.2em;
}
span.license-title {
  font-style: italic;
}
div.post {
  font-size: 1.313em;
  line-height: 1.58em;
  color: #333;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
