<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <!-- link to atom feed -->
    <link href="/atom.xml?type=blog" type="application/atom+xml" rel="alternate" title="Alan Cruikshanks" />

    <!-- Favicon support as per http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9f00a7">
    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="Alan Cruikshanks" />

    <!-- Rich preview support as per https://medium.com/@richardoosterhof/how-to-optimize-your-site-for-rich-previews-527ed13a6d69  -->
    <!-- and https://richpreview.com/ -->
    <meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="http://cruikshanks.co.uk/assets/images/default_rich_preview.png" />
    <!-- Added these extra tags having looked at http://ogp.me/ -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="cruikshanks.co.uk" />
    <meta property="og:locale" content="en_GB" />
    <!-- Also add specific twitter support as per https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:site" content="@alancruikshanks" />
    <meta name="twitter:image:alt" content="Avatar for Alan Cruikshanks" />
  </head>
  <body>
    <nav>
        <ul>
            <li class="title">Alan Cruikshanks</li>
            <li><a href="/" alt="home page">Home</a></li>
            <li><a href="/about" alt="about page">About</a></li>
            <li><a href="/contact" alt="contact page">Contact</a></li>
        </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
      <div class="container">
        <div>
          <a href="mailto:alan.cruikshanks@gmail.com">alan.cruikshanks@gmail.com</a><br>
          <a href="https://www.linkedin.com/in/alan-cruikshanks/" alt="LinkedIn">linkedin.com/in/alan-cruikshanks/</a>
        </div>
        <div>
          <a href="https://github.com/cruikshanks" alt="GitHub">github.com/cruikshanks</a><br>
          <a href="http://twitter.com/AlanCruikshanks" alt="Twitter">twitter.com/alancruikshanks</a>
        </div>
        <div>
          <a href="/atom.xml"><img src="/assets/images/feed.png" height="42" width="42" alt="Subscribe to feed" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
