<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <!-- link to atom feed -->
    <link href="/atom.xml?type=blog" type="application/atom+xml" rel="alternate" title="Alan Cruikshanks" />
    <meta name="author" content="Alan Cruikshanks" />
  </head>
  <body>
    <nav>
        <ul>
            <li class="title">Alan Cruikshanks</li>
            <li><a href="/" alt="home page">Home</a></li>
            <li><a href="/about" alt="about page">About</a></li>
            <li><a href="/contact" alt="contact page">Contact</a></li>
        </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
      <div class="container">
        <div>
          <a href="mailto:alan.cruikshanks@gmail.com">alan.cruikshanks@gmail.com</a><br>
          <a href="https://www.linkedin.com/in/alan-cruikshanks/" alt="LinkedIn">linkedin.com/in/alan-cruikshanks/</a>
        </div>
        <div>
          <a href="https://github.com/cruikshanks" alt="GitHub">github.com/cruikshanks</a><br>
          <a href="http://twitter.com/AlanCruikshanks" alt="Twitter">twitter.com/alancruikshanks</a>
        </div>
        <div>
          <a href="/atom.xml"><img src="/assets/images/feed.png" height="42" width="42" alt="Subscribe to feed" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
